@import "tailwindcss";

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.header-content {
  position: relative;
  padding: 56px;
  overflow: hidden;
}

.line {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: 9px solid #fff;
  clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  animation: fadeInLeft 1s ease-out 0.3s both;
}

.carousel-title {
  animation: fadeInDown 1s ease-out 0.3s both;
}

.carousel-subtitle {
  animation: fadeInUp 1s ease-out 0.3s both;
}